@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{
    font-family: 'Nanum Gothic', sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 180vh;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 175px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

img{
    margin-top: 120px;
    margin-left: 60px;
}